**1005
Média 1**

Leia 2 valores de ponto flutuante de dupla precisão A e B, que correspondem a 2 notas de um aluno. A seguir, calcule a média do aluno, sabendo que a nota A tem peso 3.5 e a nota B tem peso 7.5 (A soma dos pesos portanto é 11). Assuma que cada nota pode ir de 0 até 10.0, sempre com uma casa decimal.
Imprima a mensagem "MEDIA" e a média do aluno, com 5 dígitos após o ponto decimal

In [1]:
A = float(input())
B = float(input())

 5
 7.1

In [3]:
media = ((A * 3.5) + (B * 7.5)) / 11
print(f'MEDIA = {media:.5f}')

MEDIA = 6.43182

----------------------

**1008
Salário**

Escreva um programa que leia o número de um funcionário, seu número de horas trabalhadas, o valor que recebe por hora e calcula o salário desse funcionário. A seguir, mostre o número e o salário do funcionário, com duas casas decimais.

In [4]:
numero = int(input())
horas_trabalhadas = int(input())
valor_hora = float(input())

 6
 145
 15.55

In [6]:
salario = horas_trabalhadas * valor_hora
print(f'NUMBER = {numero}\nSALARY = U$ {salario:.2f}')

NUMBER = 6
SALARY = U$ 2254.75

---------------

**1009
Salário com Bônus**

Faça um programa que leia o nome de um vendedor, o seu salário fixo e o total de vendas efetuadas por ele no mês (em dinheiro). Sabendo que este vendedor ganha 15% de comissão sobre suas vendas efetuadas, informar o total a receber no final do mês, com duas casas decimais.

In [7]:
nome = input()
salario_fixo = float(input())
vendas = float(input())

 JOAO
 500
 1230.30

In [8]:
salario = salario_fixo + (vendas * (15 / 100))
print(f'TOTAL = R$ {salario:.2f}')

TOTAL = R$ 684.54

----------------

**1011
Esfera**

Faça um programa que calcule e mostre o volume de uma esfera sendo fornecido o valor de seu raio (R). A fórmula para calcular o volume é: (4/3) * pi * R3. Considere (atribua) para pi o valor 3.14159. O valor deverá ser apresentado com 3 casas após o ponto.

In [10]:
raio = int(input())

 3

In [4]:
calculo = 4 / 3 * 3.14159 * (raio ** 3)
print(f'VOLUME = {calculo:.3f}')

VOLUME = 113.097

--------------------------

**1012
Área**

Escreva um programa que leia três valores com ponto flutuante de dupla precisão: A, B e C. Em seguida, calcule e mostre, com 3 dígitos após o ponto decimal:
- **a)** a área do triângulo retângulo que tem A por base e C por altura.
- **b)** a área do círculo de raio C. (pi = 3.14159)
- **c)** a área do trapézio que tem A e B por bases e C por altura.
- **d)** a área do quadrado que tem lado B.
- **e)** a área do retângulo que tem lados A e B.

In [6]:
A, B, C = map(float, input().split())

 3.0 4.0 5.2

In [7]:
triangulo = (A * C) / 2
circulo = 3.14159 * (C ** 2)
trapezio = ((A + B) * C) / 2
quadrado = B ** 2
retangulo = A * B

In [9]:
print(f'TRIANGULO: {triangulo:.3f}\nCIRCULO: {circulo:.3f}\nTRAPEZIO: {trapezio:.3f}\nQUADRADO: {quadrado:.3f}\nRETANGULO: {retangulo:.3f}')

TRIANGULO: 7.800
CIRCULO: 84.949
TRAPEZIO: 18.200
QUADRADO: 16.000
RETANGULO: 12.000

--------------------

**1020
Idade em Dias**

Leia um valor inteiro correspondente à idade de uma pessoa em dias e informe-a em anos, meses e dias
<br>
Obs.: apenas para facilitar o cálculo, considere todo ano com 365 dias e todo mês com 30 dias. Nos casos de teste nunca haverá uma situação que permite 12 meses e alguns dias, como 360, 363 ou 364. Este é apenas um exercício com objetivo de testar raciocínio matemático simples.

In [8]:
valor = int(input())

 400

In [9]:
anos = valor // 365
meses = (valor % 365) // 30
dias = (valor % 365) % 30
print(f'{anos} ano(s)\n{meses} mes(es)\n{dias} dia(s)')

1 ano(s)
1 mes(es)
5 dia(s)

-------------

**1035
Teste de Seleção 1**

Leia 4 valores inteiros A, B, C e D. A seguir, se B for maior do que C e se D for maior do que A, e a soma de C com D for maior que a soma de A e B e se C e D, ambos, forem positivos e se a variável A for par escrever a mensagem "Valores aceitos", senão escrever "Valores nao aceitos".

In [28]:
A, B, C, D = map(int, input().split())

 5 6 7 8

In [30]:
condicoes = [(B > C), (D > A), ((C + D) > (A + B)), (C >= 0 & D >= 0), (A % 2 == 0)]
if False in (condicoes):
    print('Valores nao aceitos')
else:
    print('Valores aceitos')

Valores nao aceitos

-----------

**1042
Sort Simples**

Leia 3 valores inteiros e ordene-os em ordem crescente. No final, mostre os valores em ordem crescente, uma linha em branco e em seguida, os valores na sequência como foram lidos.

In [3]:
valores = list(map(int, input().split()))

 7 21 -14

In [15]:
for i in sorted(valores):
    print(i)

print()

for i in valores:
    print(i)

-14
7
21

-14
7
21

--------

**1043
Triângulo**

Leia 3 valores reais (A, B e C) e verifique se eles formam ou não um triângulo. Em caso positivo, calcule o perímetro do triângulo e apresente a mensagem: <br>
*Perimetro = XX.X* <br>
Em caso negativo, calcule a área do trapézio que tem A e B como base e C como altura, mostrando a mensagem <br>
*Area = XX.X*

In [27]:
a, b, c = map(float, input().split())

 6.0 4.0 2.1

In [28]:
if ((a + b) > c) & ((a + c) > b) & ((b + c) > a):
    print(f'Perimetro = {a+b+c}')
else:
    print(f'Area = {((a+b)/2) * c}')

Perimetro = 12.1

----------

**1044
Múltiplos**

Leia 2 valores inteiros (A e B). Após, o programa deve mostrar uma mensagem "Sao Multiplos" ou "Nao sao Multiplos", indicando se os valores lidos são múltiplos entre si.

In [5]:
a, b = map(int, input().split())

 6 24

In [6]:
if (a % b) == 0 or (b % a) == 0:
    print('Sao Multiplos')
else:
    print('Nao sao Multiplos')

Sao Multiplos

----------

**1046
Tempo de Jogo**

Leia a hora inicial e a hora final de um jogo. A seguir calcule a duração do jogo, sabendo que o mesmo pode começar em um dia e terminar em outro, tendo uma duração mínima de 1 hora e máxima de 24 horas.

In [15]:
hora_inicial, hora_final = map(int, input().split())

 2 16

In [24]:
if (hora_inicial - hora_final) == 0:
    total = 24
elif (hora_inicial - hora_final) < 0:
    total = abs(hora_inicial - hora_final)
else:
    total = abs(hora_inicial - 24) + hora_final

In [25]:
print(f'O JOGO DUROU {total} HORA(S)')

O JOGO DUROU 14 HORA(S)

-----------

**1048
Aumento de Salário**

A empresa ABC resolveu conceder um aumento de salários a seus funcionários de acordo com a tabela abaixo:

| Salario       | Percentual de reajuste | 
|:-------------:|:----------------------:|
| 0 - 400       | 15\%                   | 
| 400.01 - 800  | 12\%                   | 
| 800.01 - 1200 | 10\%                   | 
|1200.01 - 2000 | 7\%                    | 
| Acima de 2000 | 4\%                    | 

Leia o salário do funcionário e calcule e mostre o novo salário, bem como o valor de reajuste ganho e o índice reajustado, em percentual.

In [27]:
salario = float(input())

 400

In [28]:
if salario <= 400:
    reajuste = 15/100
elif 400 < salario <= 800:
    reajuste = 12/100
elif 800 < salario <= 1200:
    reajuste = 10/100
elif 1200 < salario <= 2000:
    reajuste = 7/100
else:
    reajuste = 4/100

In [30]:
novo_salario = salario + (salario * reajuste)
reajuste_ganho = salario * reajuste
percentual = reajuste * 100

In [33]:
print(f'Novo salario: {novo_salario:.2f}\nReajuste ganho: {reajuste_ganho:.2f}\nEm percentual: {percentual:.0f}%')

Novo salario: 460.00
Reajuste ganho: 60.00
Em percentual: 15%

----------

**1050
DDD**

Leia um número inteiro que representa um código de DDD para discagem interurbana. Em seguida, informe à qual cidade o DDD pertence, considerando a tabela abaixo: <br>
| DDD       | Destination    | 
|:---------:|:--------------:|
| 61        | Brasilia       | 
| 71        | Salvador       | 
| 11        | Sao Paulo      | 
| 21        | Rio de Janeiro | 
| 32        | Juiz de Fora   | 
| 19        | Campinas       | 
| 27        | Vitoria        | 
| 31        | Belo Horizonte |

Se a entrada for qualquer outro DDD que não esteja presente na tabela acima, o programa deverá informar:
DDD nao cadastrado

In [1]:
codigo = int(input())

 11

In [3]:
tabela = {61: 'Brasilia',
            71: 'Salvador',
            11: 'Sao Paulo',
            21: 'Rio de Janeiro',
            32: 'Juiz de Fora',
            19: 'Campinas',
            27: 'Vitoria',
            31: 'Belo Horizonte'}

In [4]:
if codigo in tabela:
    print(tabela[codigo])
else:
    print('DDD nao cadastrado')

Sao Paulo

---------------

**1051
Imposto de Renda**

Em um país imaginário denominado Lisarb, todos os habitantes ficam felizes em pagar seus impostos, pois sabem que nele não existem políticos corruptos e os recursos arrecadados são utilizados em benefício da população, sem qualquer desvio. A moeda deste país é o Rombus, cujo símbolo é o R\$.
<br>
Leia um valor com duas casas decimais, equivalente ao salário de uma pessoa de Lisarb. Em seguida, calcule e mostre o valor que esta pessoa deve pagar de Imposto de Renda, segundo a tabela abaixo. <br>
| Renda                          | Imposto de Renda    | 
|:------------------------------:|:-------------------:|
| de 0.00 a 2000.00              | Isento              | 
| de 2000.01 até 3000.00         | 8%                  | 
| de 3000.01 até 4500.00         | 18%                 | 
| acima de 4500.00               | 28%                 |

Lembre que, se o salário for 3002.00, a taxa que incide é de 8% apenas sobre 1000.00, pois a faixa de salário que fica de 0.00 até R$ 2000.00 é isenta de Imposto de Renda. No exemplo fornecido (abaixo), a taxa é de 8% sobre 1000.00 + 18% sobre 2.00, o que resulta em 80.36 no total. O valor deve ser impresso com duas casas decimais.

In [14]:
salario = float(input())

 3002.00

In [15]:
imposto = 0
if salario <= 2000.00:
    imposto = 0.00
elif salario <= 3000.00: 
    imposto = (salario - 2000.00) * 0.08
elif salario <= 4500.00:
    imposto = 1000.00 * 0.08 + (salario - 3000.00) * 0.18
else:
    imposto = 1000.00 * 0.08 + 1500.00 * 0.18 + (salario - 4500.00) * 0.28

In [16]:
if imposto != 0:
    print(f'R$ {imposto:.2f}')
else:
    print('Isento')

R$ 80.36

-----------